<div>
    <h3><span class="category-name "><%= category.name%></span></h3>
    <% category.items.each do | item | %>
        <div class="d-flex justify-content-between mb-1">
            <div>
                <h4 class="mb-0"><%= item.name.capitalize %></h4>
                <p><%= item.description.capitalize %></p>
            </div>
            <div class="d-flex justify-content-end align-items-begin">
                <h4>
                    <%= number_to_currency(
                        item.price,
                        unit: "€",
                        separator: ",",
                        delimiter: " ",
                        format: "%n %u"
                    ) %>
                </h4>
            </div>
        </div>
    <% end %>
</div>