<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Salut <%= @user.email %> et bienvenue chez Menu à Jour !</h1>
    <p>
      Tu t'es inscrit sur notre plateforme de mise à jour de me nenus en utilisant l'e-mail suivant : <%= @user.email %>.
    </p>
    <p>
      Pour accéder à ton espace client, connecte-toi via ce lien : <%= @url %>.
    </p>
    <p> À très vite sur Menu à Jour !
  </body>
</html>