  <!--################################################-->
  <!--############### Accordion ######################-->
  <!--################################################-->
  <div class="container-fluid px-0">
    <div id="accordion">
      <!--******************* Ajouter une Catégorie *******************-->
      <div class="row align-items-end mx-0">
        <div class= "col-md-12 px-0">
          <div class="card">
            <div class="table-active" id="headingOne" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne" data-toggle="tooltip" data-placement="top" title="Cliquer pour créer une nouvelle catégorie">
              <h5 class="mb-0 btn collapsed">
               Créer une nouvelle catégorie
             </h5>
           </div>
           <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
            <div class="card-body">
              <%= render "category_types/category_type_form",
                title: "Ajouter un catégorie",
                form_method: "POST",
                route: user_category_types_path(current_user.id), category_name: nil,
                icon: "fas fa-plus"
              %>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!--******************* Ajouter un Item *******************-->
    <div class="row align-items-center mx-0">
      <div class="col-md-12 px-0">
        <div class="card">
          <div class="table-active" id="headingTwo" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo" data-toggle="tooltip" data-placement="top" title="Cliquer pour créer un nouvel item">
            <h5 class="mb-0 btn collapsed">
              Créer un nouvel item
            </h5>
          </div>
          <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
            <%= render "item_types_form" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>

<!--################################################-->
<!--################ Fin Accordion #################-->
<!--################################################-->
