<%= render "shared/header_with_subtitle", title: @title, subtitle: @subtitle %>


<!--################################################-->
<!--########## Adding Categories/Items ##############-->
<!--################################################-->

<%= render "add_header"%>

<div class="container-fluid mb-5">
    <div id="app-container"></div>
</div>

<%= javascript_pack_tag 'application' %>