<!-- HEADER==================================================-->
<section class="section section_header section_header__about">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
      <!-- Heading -->
        <h1 class="section__heading section_header__heading text-center">
         <%= title %>
        </h1>
      </div>
    </div>
    <!-- .row -->
  </div>
  <!-- .container -->
  <div class="section_header__bg about_bg"></div>
</section>