/**
 * Tabs
 */


@nav-tabs-link-hover-border-color: transparent;
@nav-tabs-active-link-hover-bg: transparent;
@nav-tabs-active-link-hover-color: #F1AE2B;
@nav-tabs-active-link-hover-border-color: transparent;
@nav-tabs-border-color: transparent;