/**
* Typography
*/

@import url('https://fonts.googleapis.com/css?family=Oregano|Raleway:400,700');

 @font-family-base: 'Raleway', sans-serif;
 @headings-font-family: 'Oregano', cursive;
 @font-size-base: 15px;