<div class="container">
<br>
<br>
	<div class="row">

		<h4>Bienvenue dans votre espace admin :</h4>
		
	</div>
<br>
	<div class="d-flex">

			Pour la gestion de vos utilisateurs : 			
		<a href="<%= admin_users_path %>" class="btn btn-primary"> Espace Utilisateurs</a>
	</div>
	<br>
	<div>
		Pour la gestion des menus :
		<a href="<%= admin_menus_path %>" class="btn btn-primary"> Espace Menu</a>
	</div>
	
</div>