      <!-- HEADER
      ================================================== -->
      <section class="section section_header section_header__about">
        <div class="container">
          <div class="row">
            <div class="col-sm-12">

              <!-- Heading -->
              <h1 class="section__heading section_header__heading text-center">
                Qui sommes-nous ?
              </h1>

              <!-- Breadcrumbs -->
              <ol class="breadcrumb">
                <li><a href="index_default.html">Accueil</a></li>
                <li class="active">Qui sommes nous ?</li>
              </ol>

            </div>
          </div> <!-- .row -->
        </div> <!-- .container -->
        <div class="section_header__bg about_bg"></div>
      </section>


      <!-- section team -->
      <section class="section_team">
        <div class="container">
          <div class="row">
            <div class="col-sm-12">
              <h2 class="section_title">&#8722; Our team &#8722;</h2>
              <hr class="section_title_line">
              <p class="section_caption">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus sint est quidem excepturi rem officia fugit quia maxime explicabo nisi numquam, recusandae quisquam iste earum.</p>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-4">
              <div class="team__item">
                <div class="team__item_photo">
                <%= image_tag "team_photo_3.jpg",:alt => "lionel", :class => "img-responsive" %>"   
                </div>
                <div class="team__item_name">
                  <h3>John Doe</h3>
                </div>
                <div class="team__item_overlay">
                  <p class="team__item_profession">Master chef</p>
                  <ul class="team__item_social">
                    <li class="social_icon"><a href="#"><i class="icon ion-social-facebook-outline"></i></a></li>
                    <li class="social_icon"><a href="#"><i class="icon ion-social-twitter-outline"></i></a></li>
                    <li class="social_icon"><a href="#"><i class="icon ion-social-instagram-outline"></i></a></li>
                  </ul>
                </div>
              </div> <!-- .team_item -->
            </div>
            <div class="col-sm-4">
              <div class="team__item">
                <div class="team__item_photo">
                  <img class="img-responsive" src="assets/img/team_photo_2.jpg" alt="...">
                </div>
                <div class="team__item_name">
                  <h3>Jane Doe</h3>
                </div>
                <div class="team__item_overlay">
                  <p class="team__item_profession">Chef</p>
                  <ul class="team__item_social">
                    <li class="social_icon"><a href="#"><i class="icon ion-social-facebook-outline"></i></a></li>
                    <li class="social_icon"><a href="#"><i class="icon ion-social-twitter-outline"></i></a></li>
                    <li class="social_icon"><a href="#"><i class="icon ion-social-instagram-outline"></i></a></li>
                  </ul>
                </div>
              </div> <!-- .team_item -->
            </div>
            <div class="col-sm-4">
              <div class="team__item">
                <div class="team__item_photo">
                  <img class="img-responsive" src="assets/img/team_photo_3.jpg" alt="...">
                </div>
                <div class="team__item_name">
                  <h3>John Doe</h3>
                </div>
                <div class="team__item_overlay">
                  <p class="team__item_profession">Barman</p>
                  <ul class="team__item_social">
                    <li class="social_icon"><a href="#"><i class="icon ion-social-facebook-outline"></i></a></li>
                    <li class="social_icon"><a href="#"><i class="icon ion-social-twitter-outline"></i></a></li>
                    <li class="social_icon"><a href="#"><i class="icon ion-social-instagram-outline"></i></a></li>
                  </ul>
                </div>
              </div> <!-- .team_item -->
            </div>
          </div> <!-- .row -->
        </div> <!-- .container -->
      </section>

      <!-- section join -->
      <section class="section_join">
        <div class="container">
          <div class="row">
            <div class="col-sm-8 col-sm-offset-2">
              <div class="section_join__logo">
                <i class="ion-ios-people-outline"></i>
              </div>
              <h2 class="section_join__title"><span>&#8722; Join the team &#8722;</span></h2>
              <hr class="section_title_line">
              <p class="section_join__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur, enim. Quo, corporis, veniam. Esse unde vitae magni exercitationem cupiditate quibusdam, placeat dolorem quasi inventore necessitatibus deleniti adipisci corporis cumque alias, minima minus.</p>
              <div class="text-center">
                <button type="button" class="btn btn-default">Join now</button>
              </div>
            </div>
          </div> <!-- .row -->
        </div> <!-- .container -->
      </section>        

