      <!-- HEADER
      ================================================== -->
      <section class="section section_header section_header__about">
        <div class="container">
          <div class="row">
            <div class="col-sm-12">

              <!-- Heading -->
              <h1 class="section__heading section_header__heading text-center">
                About us
              </h1>

              <!-- Breadcrumbs -->
              <ol class="breadcrumb">
                <li><a href="index_default.html">Home</a></li>
                <li class="active">About Us</li>
              </ol>

            </div>
          </div> <!-- .row -->
        </div> <!-- .container -->
        <div class="section_header__bg about_bg"></div>
      </section>
