<%= render "shared/header", title: @title %>

<!-- section map-heading -->
<section class="section_map-heading" id="section_contacts">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="map__title" id="form">Nous ecrire</h2>
                <p class="map__address">Pour tout renseignement, vous pouvez utiliser ce formulaire et nous vous répondrons dans les plus brefs délais.</p>
                <%= render "contact_form" %>
                </div>
            </div>
        </div>
        <!-- / .row -->
    </div>
</div>