<%= render "shared/header", title: "Page introuvable" %> 

<section class="container-fluid d-flex align-items-center justify-content-center text-center pt-5 pb-5">
  <div class="col-md-5 mt-5">
    <div>
  	  <p><strong>La page que vous recherchez semble introuvable.</strong></p><br/>
  	  <p>Code d'erreur : 404</p>
    </div>
    <%= render "shared/back_button" %>
  </div>
</section>