<%= render "shared/header", title: "Page bientôt disponible" %> 

<section class="container-fluid d-flex align-items-center justify-content-center">
  <div class="col-md-5 mt-5">
    <div>
  	  <p>Cette page sera bientôt disponible. Nous vous prions de nous excuser pour la gêne occasionnée.</p><br/>
  	  <p>Cordialement,</p>
  	  <p>Toute l'équipe de Menu à Jour.</p>
    </div>
  </div>
</section>