<div data-spy="scroll" data-target=".navbar" data-offset="70">
    <!-- TO THE TOP BUTTON
    ================================================== -->
    <a id="back-to-top" href="#section_welcome" class="btn btn-primary back-to-top" role="button" title="Click to return on the top page" data-toggle="tooltip" data-placement="left">
      <i class="ion-android-arrow-up"></i>
    </a>
  
    <!-- CONTENT
    ================================================== -->

    <!-- section welcome -->
    <section class="section_welcome" id="section_welcome">
      <div class="container d-flex align-items-center">
        <div class="row">
          <div class="col-sm-6 col-sm-offset-3">
            <div class="welcome_content">
              <h1 class="welcome_content_heading">Menuajour</h1>
              <p class="welcome_content_subheading">Créateur d'envie</p>
              <ul class="welcome_content_logo">
                <li><i class="icon ion-ios-minus-empty"></i></li>
                <li><i class="icon ion-fork"></i></li>
                <li><i class="icon ion-wineglass"></i></li>
                <li><i class="icon ion-knife"></i></li>
                <li><i class="icon ion-ios-minus-empty"></i></li>
              </ul>
              <h3 class="welcome_content_caption">Créer en quelques minutes votre futur menu</h3>
              <div class="welcome_content_btn">
                <a href="#section_about" class="btn btn-default">Discover</a>
              </div>
            </div> <!-- .welcome_content -->
          </div>
        </div> <!-- .row -->
      </div> <!-- .container -->
      <div class="welcome_bg"></div>
    </section>

    <!-- section about -->
    <section class="section_about" id="section_about">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <h2 class="section_title"><span>&#8722; Our story &#8722;</span></h2>
            <hr class="section_title_line">
            <p class="section_caption">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus sint est quidem excepturi rem officia fugit quia maxime explicabo nisi numquam, recusandae quisquam iste earum.</p>
          </div>
        </div> <!-- .row -->
      </div> <!-- .container -->
      <div class="section_about__row">
        <div class="about__img">
          <img src="assets/img/about_1.jpg" class="img-responsive" alt="...">
        </div>
        <div class="about_desc">
          <h3 class="about_desc__title">Traditions</h3>
          <p class="about_desc__text">Service ipsum dolor sit amet, consectetur adipisicing elit. Nulla dolore voluptatem, ipsum, totam molestias accusantium explicabo velit aliquid impedit, reprehenderit libero voluptatum ipsa quae ad! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum atque debitis commodi architecto. Nulla dolore voluptatem. Eum atque debitis commodi architecto. Totam molestias accusantium explicabo velit aliquid impedit.</p>
        </div>
      </div> <!-- .section_about__row -->
      <div class="section_about__row">
        <div class="about_desc">
          <h3 class="about_desc__title">Professional service</h3>
          <p class="about_desc__text">Roles ipsum dolor sit amet, consectetur adipisicing elit. Nulla dolore voluptatem, ipsum, totam molestias accusantium explicabo velit aliquid impedit, reprehenderit libero voluptatum ipsa quae ad! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum atque debitis commodi architecto. Groggery ipsum dolor sit amet, consectetur adipisicing elit. Soluta modi esse accusantium sit velit cupiditate minima ipsam ex!</p>
        </div>
        <div class="about__img">
          <img src="assets/img/about_2.jpg" class="img-responsive" alt="...">
        </div>
      </div> <!-- .section_about__row -->
      <div class="section_about__row">
        <div class="about__img">
          <img src="assets/img/about_3.jpg" class="img-responsive" alt="...">
        </div>
        <div class="about_desc">
          <h3 class="about_desc__title">History</h3>
          <p class="about_desc__text">Blanditiis quidem fugit atque facilis numquam et, minus, iusto pariatur. Laborum commodi consectetur dolor, unde quo nemo molestias provident reprehenderit iure quas ipsam quasi cupiditate, doloribus, consequuntur ea facere dolores impedit dolore blanditiis neque explicabo odio! Labore eveniet sapiente impedit asperiores architecto. Vero quia, quidem aliquam eveniet maiores expedita minima corporis assumenda accusamus at laborum.</p>
        </div>
      </div> <!-- .section_about__row -->
    </section>


    <!-- section menu -->
    <section class="section_menu" id="section_menu">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <h2 class="section_title">&#8722; Menu &#8722;</h2>
            <hr class="section_title_line">
            <p class="section_caption">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit mollitia, temporibus aliquid quae, repellendus eaque? Illo harum omnis sed debitis ratione dolor.</p>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <ul class="nav nav-tabs menu_nav">
              <li role="presentation" class="active"><a href="#" role="tab" data-filter=".menu_breakfast">Breakfast</a></li>
              <li role="presentation"><a href="#" role="tab" data-filter=".menu_lunch">Lunch</a></li>
              <li role="presentation"><a href="#" role="tab" data-filter=".menu_dinner">Dinner</a></li>
              <li role="presentation"><a href="#" role="tab" data-filter=".menu_drinks">Drinks</a></li>
              <li role="presentation"><a href="#" role="tab" data-filter=".menu_desserts">Desserts</a></li>
            </ul>
          </div>
        </div>

        <div class="row menu__grid">
          <div class="col-sm-4 menu__item menu_breakfast">
            <div class="menu__item_hover">
              <img src="assets/img/breakfast_1.jpg" class="img-responsive" alt="...">
              <div class="menu__item_overlay">
                <h3>Lorem ipsum <span class="price">$6.5</span></h3>
                <p class="overlay_info">Ingredients: Lorem, ipsum, dolor, sit, amet, consectetur, adipisicing.</p>
              </div>
            </div>
          </div>
          <div class="col-sm-4 menu__item menu_breakfast">
            <div class="menu__item_hover">
              <img src="assets/img/breakfast_2.jpg" class="img-responsive" alt="...">
              <div class="menu__item_overlay">
                <h3>Lorem ipsum <span class="price">$10</span></h3>
                <p class="overlay_info">Ingredients: Lorem, ipsum, dolor, sit, amet, consectetur, adipisicing.</p>
              </div>
            </div>
          </div>
          <div class="col-sm-4 menu__item menu_breakfast">
            <div class="menu__item_hover">
              <img src="assets/img/breakfast_3.jpg" class="img-responsive" alt="...">
              <div class="menu__item_overlay">
                <h3>Lorem ipsum<span class="price">$8</span></h3>
                <p class="overlay_info">Ingredients: Lorem, ipsum, dolor, sit, amet, consectetur, adipisicing.</p>
              </div>
            </div>
          </div>
          <div class="col-sm-4 menu__item menu_breakfast">
            <div class="menu__item_hover">
              <img src="assets/img/breakfast_4.jpg" class="img-responsive" alt="...">
              <div class="menu__item_overlay">
                <h3>Lorem ipsum <span class="price">$7.5</span></h3>
                <p class="overlay_info">Ingredients: Lorem, ipsum, dolor, sit, amet, consectetur, adipisicing.</p>
              </div>
            </div>
          </div>
          <div class="col-sm-4 menu__item menu_breakfast">
            <div class="menu__item_hover">
              <img src="assets/img/breakfast_5.jpg" class="img-responsive" alt="...">
              <div class="menu__item_overlay">
                <h3>Lorem ipsum <span class="price">$5.5</span></h3>
                <p class="overlay_info">Ingredients: Lorem, ipsum, dolor, sit, amet, consectetur, adipisicing.</p>
              </div>
            </div>
          </div>
          <div class="col-sm-4 menu__item menu_breakfast">
            <div class="menu__item_hover">
              <img src="assets/img/breakfast_6.jpg" class="img-responsive" alt="...">
              <div class="menu__item_overlay">
                <h3>Lorem ipsum <span class="price">$8</span></h3>
                <p class="overlay_info">Ingredients: Lorem, ipsum, dolor, sit, amet, consectetur, adipisicing.</p>
              </div>
            </div>
          </div>
          <div class="col-sm-4 menu__item menu_lunch" style="display: none;">
            <div class="menu__item_hover">
              <img src="assets/img/lunch_1.jpg" class="img-responsive" alt="...">
              <div class="menu__item_overlay">
                <h3>Lorem ipsum <span class="price">$15</span></h3>
                <p class="overlay_info">Ingredients: Lorem, ipsum, dolor, sit, amet, consectetur, adipisicing.</p>
              </div>
            </div>
          </div>
          <div class="col-sm-4 menu__item menu_lunch" style="display: none;">
            <div class="menu__item_hover">
              <img src="assets/img/lunch_2.jpg" class="img-responsive" alt="...">
              <div class="menu__item_overlay">
                <h3>Lorem ipsum <span class="price">$8.5</span></h3>
                <p class="overlay_info">Ingredients: Lorem, ipsum, dolor, sit, amet, consectetur, adipisicing.</p>
              </div>
            </div>
          </div>
          <div class="col-sm-4 menu__item menu_lunch" style="display: none;">
            <div class="menu__item_hover">
              <img src="assets/img/lunch_3.jpg" class="img-responsive" alt="...">
              <div class="menu__item_overlay">
                <h3>Lorem ipsum <span class="price">$13.5</span></h3>
                <p class="overlay_info">Ingredients: Lorem, ipsum, dolor, sit, amet, consectetur, adipisicing.</p>
              </div>
            </div>
          </div>
          <div class="col-sm-4 menu__item menu_lunch" style="display: none;">
            <div class="menu__item_hover">
              <img src="assets/img/lunch_4.jpg" class="img-responsive" alt="...">
              <div class="menu__item_overlay">
                <h3>Lorem ipsum <span class="price">$7.8</span></h3>
                <p class="overlay_info">Ingredients: Lorem, ipsum, dolor, sit, amet, consectetur, adipisicing.</p>
              </div>
            </div>
          </div>
          <div class="col-sm-4 menu__item menu_lunch" style="display: none;">
            <div class="menu__item_hover">
              <img src="assets/img/lunch_5.jpg" class="img-responsive" alt="...">
              <div class="menu__item_overlay">
                <h3>Lorem ipsum <span class="price">$9.5</span></h3>
                <p class="overlay_info">Ingredients: Lorem, ipsum, dolor, sit, amet, consectetur, adipisicing.</p>
              </div>
            </div>
          </div>
          <div class="col-sm-4 menu__item menu_lunch" style="display: none;">
            <div class="menu__item_hover">
              <img src="assets/img/lunch_6.jpg" class="img-responsive" alt="...">
              <div class="menu__item_overlay">
                <h3>Lorem ipsum <span class="price">$12</span></h3>
                <p class="overlay_info">Ingredients: Lorem, ipsum, dolor, sit, amet, consectetur, adipisicing.</p>
              </div>
            </div>
          </div>
          <div class="col-sm-4 menu__item menu_dinner" style="display: none;">
            <div class="menu__item_hover">
              <img src="assets/img/dinner_1.jpg" class="img-responsive" alt="...">
              <div class="menu__item_overlay">
                <h3>Lorem ipsum <span class="price">$14</span></h3>
                <p class="overlay_info">Ingredients: Lorem, ipsum, dolor, sit, amet, consectetur, adipisicing.</p>
              </div>
            </div>
          </div>
          <div class="col-sm-4 menu__item menu_dinner" style="display: none;">
            <div class="menu__item_hover">
              <img src="assets/img/dinner_2.jpg" class="img-responsive" alt="...">
              <div class="menu__item_overlay">
                <h3>Lorem ipsum <span class="price">$11.5</span></h3>
                <p class="overlay_info">Ingredients: Lorem, ipsum, dolor, sit, amet, consectetur, adipisicing.</p>
              </div>
            </div>
          </div>
          <div class="col-sm-4 menu__item menu_dinner" style="display: none;">
            <div class="menu__item_hover">
              <img src="assets/img/dinner_3.jpg" class="img-responsive" alt="...">
              <div class="menu__item_overlay">
                <h3>Lorem ipsum <span class="price">$10.5</span></h3>
                <p class="overlay_info">Ingredients: Lorem, ipsum, dolor, sit, amet, consectetur, adipisicing.</p>
              </div>
            </div>
          </div>
          <div class="col-sm-4 menu__item menu_dinner" style="display: none;">
            <div class="menu__item_hover">
              <img src="assets/img/dinner_4.jpg" class="img-responsive" alt="...">
              <div class="menu__item_overlay">
                <h3>Lorem ipsum <span class="price">$13</span></h3>
                <p class="overlay_info">Ingredients: Lorem, ipsum, dolor, sit, amet, consectetur, adipisicing.</p>
              </div>
            </div>
          </div>
          <div class="col-sm-4 menu__item menu_dinner" style="display: none;">
            <div class="menu__item_hover">
              <img src="assets/img/dinner_5.jpg" class="img-responsive" alt="...">
              <div class="menu__item_overlay">
                <h3>Lorem ipsum <span class="price">$21</span></h3>
                <p class="overlay_info">Ingredients: Lorem, ipsum, dolor, sit, amet, consectetur, adipisicing.</p>
              </div>
            </div>
          </div>
          <div class="col-sm-4 menu__item menu_dinner" style="display: none;">
            <div class="menu__item_hover">
              <img src="assets/img/dinner_6.jpg" class="img-responsive" alt="...">
              <div class="menu__item_overlay">
                <h3>Lorem ipsum <span class="price">$19</span></h3>
                <p class="overlay_info">Ingredients: Lorem, ipsum, dolor, sit, amet, consectetur, adipisicing.</p>
              </div>
            </div>
          </div>
          <div class="col-sm-4 menu__item menu_dinner" style="display: none;">
            <div class="menu__item_hover">
              <img src="assets/img/dinner_7.jpg" class="img-responsive" alt="...">
              <div class="menu__item_overlay">
                <h3>Lorem ipsum <span class="price">$17</span></h3>
                <p class="overlay_info">Ingredients: Lorem, ipsum, dolor, sit, amet, consectetur, adipisicing.</p>
              </div>
            </div>
          </div>
          <div class="col-sm-4 menu__item menu_drinks" style="display: none;">
            <div class="menu__item_hover">
              <img src="assets/img/drinks_1.jpg" class="img-responsive" alt="...">
              <div class="menu__item_overlay">
                <h3>Lorem ipsum <span class="price">$6</span></h3>
                <p class="overlay_info">Ingredients: Lorem, ipsum, dolor, sit, amet, consectetur, adipisicing.</p>
              </div>
            </div>
          </div>
          <div class="col-sm-4 menu__item menu_drinks" style="display: none;">
            <div class="menu__item_hover">
              <img src="assets/img/drinks_2.jpg" class="img-responsive" alt="...">
              <div class="menu__item_overlay">
                <h3>Lorem ipsum <span class="price">$7</span></h3>
                <p class="overlay_info">Ingredients: Lorem, ipsum, dolor, sit, amet, consectetur, adipisicing.</p>
              </div>
            </div>
          </div>
          <div class="col-sm-4 menu__item menu_drinks" style="display: none;">
            <div class="menu__item_hover">
              <img src="assets/img/drinks_3.jpg" class="img-responsive" alt="...">
              <div class="menu__item_overlay">
                <h3>Lorem ipsum <span class="price">$4</span></h3>
                <p class="overlay_info">Ingredients: Lorem, ipsum, dolor, sit, amet, consectetur, adipisicing.</p>
              </div>
            </div>
          </div>
          <div class="col-sm-4 menu__item menu_drinks" style="display: none;">
            <div class="menu__item_hover">
              <img src="assets/img/drinks_4.jpg" class="img-responsive" alt="...">
              <div class="menu__item_overlay">
                <h3>Lorem ipsum <span class="price">$18</span></h3>
                <p class="overlay_info">Ingredients: Lorem, ipsum, dolor, sit, amet, consectetur, adipisicing.</p>
              </div>
            </div>
          </div>
          <div class="col-sm-4 menu__item menu_drinks" style="display: none;">
            <div class="menu__item_hover">
              <img src="assets/img/drinks_5.jpg" class="img-responsive" alt="...">
              <div class="menu__item_overlay">
                <h3>Lorem ipsum <span class="price">$11</span></h3>
                <p class="overlay_info">Ingredients: Lorem, ipsum, dolor, sit, amet, consectetur, adipisicing.</p>
              </div>
            </div>
          </div>
          <div class="col-sm-4 menu__item menu_drinks" style="display: none;">
            <div class="menu__item_hover">
              <img src="assets/img/drinks_6.jpg" class="img-responsive" alt="...">
              <div class="menu__item_overlay">
                <h3>Lorem ipsum <span class="price">$12</span></h3>
                <p class="overlay_info">Ingredients: Lorem, ipsum, dolor, sit, amet, consectetur, adipisicing.</p>
              </div>
            </div>
          </div>
          <div class="col-sm-4 menu__item menu_drinks" style="display: none;">
            <div class="menu__item_hover">
              <img src="assets/img/drinks_7.jpg" class="img-responsive" alt="...">
              <div class="menu__item_overlay">
                <h3>Lorem ipsum <span class="price">$15</span></h3>
                <p class="overlay_info">Ingredients: Lorem, ipsum, dolor, sit, amet, consectetur, adipisicing.</p>
              </div>
            </div>
          </div>
          <div class="col-sm-4 menu__item menu_desserts" style="display: none;">
            <div class="menu__item_hover">
              <img src="assets/img/desserts_1.jpg" class="img-responsive" alt="...">
              <div class="menu__item_overlay">
                <h3>Lorem ipsum <span class="price">$11</span></h3>
                <p class="overlay_info">Ingredients: Lorem, ipsum, dolor, sit, amet, consectetur, adipisicing.</p>
              </div>
            </div>
          </div>
          <div class="col-sm-4 menu__item menu_desserts" style="display: none;">
            <div class="menu__item_hover">
              <img src="assets/img/desserts_2.jpg" class="img-responsive" alt="...">
              <div class="menu__item_overlay">
                <h3>Lorem ipsum <span class="price">$10</span></h3>
                <p class="overlay_info">Ingredients: Lorem, ipsum, dolor, sit, amet, consectetur, adipisicing.</p>
              </div>
            </div>
          </div>
          <div class="col-sm-4 menu__item menu_desserts" style="display: none;">
            <div class="menu__item_hover">
              <img src="assets/img/desserts_3.jpg" class="img-responsive" alt="...">
              <div class="menu__item_overlay">
                <h3>Lorem ipsum <span class="price">$7.5</span></h3>
                <p class="overlay_info">Ingredients: Lorem, ipsum, dolor, sit, amet, consectetur, adipisicing.</p>
              </div>
            </div>
          </div>
          <div class="col-sm-4 menu__item menu_desserts" style="display: none;">
            <div class="menu__item_hover">
              <img src="assets/img/desserts_4.jpg" class="img-responsive" alt="...">
              <div class="menu__item_overlay">
                <h3>Lorem ipsum <span class="price">$8</span></h3>
                <p class="overlay_info">Ingredients: Lorem, ipsum, dolor, sit, amet, consectetur, adipisicing.</p>
              </div>
            </div>
          </div>
          <div class="col-sm-4 menu__item menu_desserts" style="display: none;">
            <div class="menu__item_hover">
              <img src="assets/img/desserts_5.jpg" class="img-responsive" alt="...">
              <div class="menu__item_overlay">
                <h3>Lorem ipsum <span class="price">$5</span></h3>
                <p class="overlay_info">Ingredients: Lorem, ipsum, dolor, sit, amet, consectetur, adipisicing.</p>
              </div>
            </div>
          </div>
          <div class="col-sm-4 menu__item menu_desserts" style="display: none;">
            <div class="menu__item_hover">
              <img src="assets/img/desserts_6.jpg" class="img-responsive" alt="...">
              <div class="menu__item_overlay">
                <h3>Lorem ipsum <span class="price">$12</span></h3>
                <p class="overlay_info">Ingredients: Lorem, ipsum, dolor, sit, amet, consectetur, adipisicing.</p>
              </div>
            </div>
          </div>
        </div> <!-- .row -->
      </div> <!-- .container -->
    </section>
<div>