<%= render "shared/header", title: "S'abonner" %>

<div class="container d-flex justify-content-center">

	<div class="col-md-8 d-flex flex-column align-items-center mt-5 mb-5 p-5 justify-content-around border border-grey shadow">

	  <h2 style="text-decoration: underline; text-decoration-color: #f1ae2b;">S'abonner</h2>
	  <h4 clas="mt-4" style="text-decoration: underline; text-decoration-color: #f1ae2b;">Offre Impression Illimitée</h4>

	  <div class="mt-5"><p>Chers amis restaurateurs,</p></div>
    <div>
      <p class="text-center">Nous savons combien il peut être difficile de mettre à jour vos menus, de réaliser la mise en page etc. <br/>
      C'est pourquoi nous vous donnons la possibilité aujourd'hui de remplir votre propre base de donnée de produits (plats, boissons, prix, ingrédients) et ensuite de créer autant de menus que vous le souhaitez.</p>
	  <p class="text-center">Nous vous proposons de vous abonner afin de profiter pleinement de cette experience.</p>
	  <p class="text-center">En vous abonnant vous aurez accès au générateur de PDF qui vous permettra de télécharger votre menu et ainsi de l'imprimer directement.</p>
	  <p class="text-center">Plus rapide et économique de de passer par un imprimeur.</p>
    </div>
    <div class="mt-5"><p class="text-center"style="font-size: 1.5em;"><strong>100 €/an</strong><br/>
    <em style="font-size: 0.6em;">(peut importe le nombre de menus que vous créez)</em></div>
		<%= form_tag charges_path, class:'d-flex flex-column' do %>
		  <article>
		    <% if flash[:error].present? %>
		      <div id="error_explanation">
		        <p><%= flash[:error] %></p>
		      </div>
		    <% end %>
		  </article>

		  <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
		          data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
		          data-description="A month's subscription"
		          data-amount="10000"
		          data-locale="auto"></script>
		<% end %>

	</div>

</div>
