<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="assets/favicon/favicon_Groggery.ico">

    <title>Groggery | Layouts</title>

    <!-- CSS Plugins -->
    <link href="assets/plugins/ionicons/css/ionicons.min.css" rel="stylesheet">

    <!-- CSS Global -->
    <link href="assets/css/styles.css" rel="stylesheet">

  </head>
  <body data-offset="70">

    <!-- ABOUT
    ================================================== -->
    <section class="section_layouts__header">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
    
            <h1 class="page-header text-center">
              Welcome to <span>Groggery</span>
            </h1>

            <p class="page-subheader text-center">
              Groggery is a fully responsive HTML5 template. It is ideal for restaurants, bars, cafes, bakeries, and coffee shops. Built with Twitter Bootstrap framework, it looks perfect on all major browsers, tablets, and phones.
            </p>

            <div class="text-center">
              <a href="https://themeforest.net/item/groggery-responsive-bar-restaurant-template/19185544" class="btn btn-default">
                Purchase now
              </a>
            </div>
    
          </div>
        </div> <!-- / .row -->
      </div> <!-- / .container -->
    </section>

    <!-- LAYOUTS
    ================================================== -->
    <section class="section_layouts">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <h2 class="section_title">&#8722; Layouts &#8722;</h2>
            <hr class="section_title_line">
          </div>
        </div> <!-- / .row -->
        <div class="row">
          <div class="col-sm-6">
            <a href="index_default.html" target="_blank" class="layouts__item">
              <div class="layouts__item__img">
                <img src="assets/img/screenshot_default.png" class="img-responsive" alt="Default version">
              </div>
              <div class="layouts__item__footer">
                <h4 class="layouts__item__footer__heading">
                  Home Static Image
                </h4>
              </div>
            </a> <!-- / .layouts__item -->
          </div>
          <div class="col-sm-6">
            <a href="index_imageParallax.html" target="_blank" class="layouts__item">
              <div class="layouts__item__img">
                <img src="assets/img/screenshot_parallax.png" class="img-responsive" alt="Parallax version">
              </div>
              <div class="layouts__item__footer">
                <h4 class="layouts__item__footer__heading">
                  Home Parallax Image
                </h4>
              </div>
            </a> <!-- / .layouts__item -->
          </div>
        </div> <!-- / .row -->
        <div class="row">
          <div class="col-sm-6">
            <a href="index_slider.html" target="_blank" class="layouts__item">
              <div class="layouts__item__img">
                <img src="assets/img/screenshot_slider.png" class="img-responsive" alt="Slider version">
              </div>
              <div class="layouts__item__footer">
                <h4 class="layouts__item__footer__heading">
                  Home Slider
                </h4>
              </div>
            </a> <!-- / .layouts__item -->
          </div>
          <div class="col-sm-6">
            <a href="index_video.html" target="_blank" class="layouts__item">
              <div class="layouts__item__img">
                <img src="assets/img/screenshot_video.png" class="img-responsive" alt="Slider version">
              </div>
              <div class="layouts__item__footer">
                <h4 class="layouts__item__footer__heading">
                  Video Version
                </h4>
              </div>
            </a> <!-- / .layouts__item -->
          </div>
        </div> <!-- / .row -->
      </div> <!-- / .container -->
    </section>

    <!-- FEATURES
    ================================================== -->
    <section class="section_features">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <h2 class="section_title">&#8722; Features &#8722;</h2>
            <hr class="section_title_line">
          </div>
        </div> <!-- / .row -->
        <div class="row">
          <div class="col-sm-4">
            <div class="feature__item">
              <div class="featur_item__icon">
                <i class="ion-monitor"></i>
              </div>
              <div class="featur_item__title">
                Fully Responsive
              </div>
              <div class="featur_item__desc">
                Groggery Template looks perfect on all laptops, tablets and phones.
              </div>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="feature__item">
              <div class="featur_item__icon">
                <i class="ion-ionic"></i>
              </div>
              <div class="featur_item__title">
                Ionicons Icon Pack
              </div>
              <div class="featur_item__desc">
                More than 700 scalable premium font icons with everything you need.
              </div>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="feature__item">
              <div class="featur_item__icon">
                <i class="ion-compose"></i>
              </div>
              <div class="featur_item__title">
                Contact Form
              </div>
              <div class="featur_item__desc">
                Fully functioning PHP contact and reservation forms.
              </div>
            </div>
          </div>
        </div> <!-- / .row -->
        <div class="row">
          <div class="col-sm-4">
            <div class="feature__item">
              <div class="featur_item__icon">
                <i class="ion-social-html5-outline"></i>
              </div>
              <div class="featur_item__title">
                W3C Validation
              </div>
              <div class="featur_item__desc">
                Clean, developer friendly and W3C Validated HTML code.
              </div>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="feature__item">
              <div class="featur_item__icon">
                <i class="ion-upload"></i>
              </div>
              <div class="featur_item__title">
                Free updates
              </div>
              <div class="featur_item__desc">
                Buying this template you become eligible to free download all of its future updates.
              </div>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="feature__item">
              <div class="featur_item__icon">
                <i class="ion-paper-airplane"></i>
              </div>
              <div class="featur_item__title">
                Support via email
              </div>
              <div class="featur_item__desc">
                If you have any questions about this template feel free to contact us.
              </div>
            </div>
          </div>
        </div> <!-- / .row -->
        <div class="row">
          <div class="col-sm-4">
            <div class="feature__item">
              <div class="featur_item__icon">
                <i class="ion-code-working"></i>
              </div>
              <div class="featur_item__title">
                Build with Bootstrap
              </div>
              <div class="featur_item__desc">
                Groggery template build with most popular Twitter Bootstrap framework and LESS Preprocessor.
              </div>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="feature__item">
              <div class="featur_item__icon">
                <i class="ion-map"></i>
              </div>
              <div class="featur_item__title">
                Google Maps
              </div>
              <div class="featur_item__desc">
                Google maps with beautiful style layout integrated in contact section of template.
              </div>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="feature__item">
              <div class="featur_item__icon">
                <i class="ion-ios-paper"></i>
              </div>
              <div class="featur_item__title">
                10 HTML pages
              </div>
              <div class="featur_item__desc">
                Groggery comes with concise 10 HTML pages with everything you need: blog, menu, events etc.
              </div>
            </div>
          </div>
        </div> <!-- / .row -->
      </div> <!-- / .container -->
    </section>

    <!-- PAGES
    ================================================== -->
    <section class="section_pages">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <h2 class="section_title">&#8722; Pages &#8722;</h2>
            <hr class="section_title_line">
          </div>
        </div> <!-- / .row -->
        <div class="row">
          <div class="col-sm-4">
            <a href="about.html" target="_blank" class="layouts__item">
              <div class="layouts__item__img">
                <img src="assets/img/about_page.png" class="img-responsive" alt="about page">
              </div>
              <div class="layouts__item__footer">
                <h4 class="layouts__item__footer__heading">
                  About
                </h4>
              </div>
            </a> <!-- / .layouts__item -->
          </div>
          <div class="col-sm-4">
            <a href="menu_image.html" target="_blank" class="layouts__item">
              <div class="layouts__item__img">
                <img src="assets/img/image-menu_page.png" class="img-responsive" alt="image menu page">
              </div>
              <div class="layouts__item__footer">
                <h4 class="layouts__item__footer__heading">
                  Image Menu
                </h4>
              </div>
            </a> <!-- / .layouts__item -->
          </div>
          <div class="col-sm-4">
            <a href="menu_text.html" target="_blank" class="layouts__item">
              <div class="layouts__item__img">
                <img src="assets/img/text-menu_page.png" class="img-responsive" alt="text menu page">
              </div>
              <div class="layouts__item__footer">
                <h4 class="layouts__item__footer__heading">
                  Text menu
                </h4>
              </div>
            </a> <!-- / .layouts__item -->
          </div>
        </div> <!-- / .row -->
        <div class="row">
          <div class="col-sm-4">
            <a href="gallery.html" target="_blank" class="layouts__item">
              <div class="layouts__item__img">
                <img src="assets/img/gallery_page.png" class="img-responsive" alt="gallery page">
              </div>
              <div class="layouts__item__footer">
                <h4 class="layouts__item__footer__heading">
                  Gallery
                </h4>
              </div>
            </a> <!-- / .layouts__item -->
          </div>
          <div class="col-sm-4">
            <a href="events.html" target="_blank" class="layouts__item">
              <div class="layouts__item__img">
                <img src="assets/img/events_page.png" class="img-responsive" alt="events page">
              </div>
              <div class="layouts__item__footer">
                <h4 class="layouts__item__footer__heading">
                  Events
                </h4>
              </div>
            </a> <!-- / .layouts__item -->
          </div>
          <div class="col-sm-4">
            <a href="blog.html" target="_blank" class="layouts__item">
              <div class="layouts__item__img">
                <img src="assets/img/blog_page.png" class="img-responsive" alt="blog page">
              </div>
              <div class="layouts__item__footer">
                <h4 class="layouts__item__footer__heading">
                  Blog
                </h4>
              </div>
            </a> <!-- / .layouts__item -->
          </div>
        </div> <!-- / .row -->
        <div class="row">
          <div class="col-sm-4">
            <a href="blog_post.html" target="_blank" class="layouts__item">
              <div class="layouts__item__img">
                <img src="assets/img/blog_page.png" class="img-responsive" alt="blog post page">
              </div>
              <div class="layouts__item__footer">
                <h4 class="layouts__item__footer__heading">
                  Blog Post
                </h4>
              </div>
            </a> <!-- / .layouts__item -->
          </div>
          <div class="col-sm-4">
            <a href="reservation.html" target="_blank" class="layouts__item">
              <div class="layouts__item__img">
                <img src="assets/img/reservation_page.png" class="img-responsive" alt="reservation page">
              </div>
              <div class="layouts__item__footer">
                <h4 class="layouts__item__footer__heading">
                  Reservation
                </h4>
              </div>
            </a> <!-- / .layouts__item -->
          </div>
          <div class="col-sm-4">
            <a href="contacts.html" target="_blank" class="layouts__item">
              <div class="layouts__item__img">
                <img src="assets/img/contacts_page.png" class="img-responsive" alt="contacts page">
              </div>
              <div class="layouts__item__footer">
                <h4 class="layouts__item__footer__heading">
                  Contacts
                </h4>
              </div>
            </a> <!-- / .layouts__item -->
          </div>
        </div> <!-- / .row -->
      </div> <!-- / .container -->
    </section>    
    
    <!-- FOOTER
    ================================================== -->
    <section class="layouts_section_footer">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 text-center">
    
            <span id="footer__year">2017</span> &copy; Groggery theme by <a href="https://themeforest.net/user/gaminy/portfolio" target="_blank">GaminY</a> // Purchase via <a href="https://themeforest.net/item/groggery-responsive-bar-restaurant-template/19185544" target="_blank">themeforest.net</a>
    
          </div>
        </div> <!-- / .row -->
      </div> <!-- / .container -->
    </section>

      
    <!-- JS
    ================================================== -->

    <!-- JS Global -->
    <script src="assets/plugins/jquery/jquery-1.12.4.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    
    <!-- JS Plugins -->
    
    <!-- JS Custom -->

  </body>
</html>