html body main div div div.row div button.btn.edit a,
html body main div div div.row div button.btn.edit a:visited,
html body main div div div.row div button.btn.edit a:focus,
html body main div div div.row div button.btn.edit a:hover,
html body main div div div.row div button.btn.edit a:active,
main > div.container table > tbody > tr > td > button.edit a:hover,
main > div.container table > tbody > tr > td > button.edit a:focus,
main > div.container table > tbody > tr > td > button.edit a:active
{
    color: var(--dark)
}

main > div.container table > thead > tr > th
{
    font-size: 15px;
}

main > div.container table > tbody > tr > td > button.edit
{
    padding: 0 30px 24px 20px;
}

main > div.container table > tbody > tr > td > button.edit a,
main > div.container table > tbody > tr > td > button.edit a:visited

{
    color: rgb(145, 154, 161);
}

main > div.container table > tbody > tr > td button.delete
{
    padding: 0 15px 24px 35px;
}

main > div.container table > tbody > tr > td > input
{
    width: 100%;
}

.categoryFilter, .filter
{
    padding: 10px;
    width: 15vw;
}