footer
{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section_footer
{
    padding: 15px 0 !important;
}

footer ul
{
    display: flex;
    justify-content: flex-start;
    list-style-type: none;
}

footer ul li a
{
    color: var(--light);
    margin: auto 5px;
}

#supports
{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#supports .col-6
{
    padding-left: 0;
}

.section_footer hr
{
    margin: 5px 0 8px !important;
} 

.footer-infos
{
    display: flex;
    justify-content: space-between
}