#section_about > div > div > h3{
	text-transform: none;
}

body > main > div > section:nth-child(3) > div.row > div > h2:before{
    content: "Création";
    position: absolute;
    letter-spacing: 15px;
    top: -40%;
    right: 0;
    bottom: 0;
    left: 0;
    color: #E7E7E7;
    font-size: 80px;
    font-family: 'Raleway', sans-serif;
    letter-spacing: 20px;
    z-index: -999;
}

.section_welcome{
    position: relative;
    min-height: 70vh;
}

.section_welcome::before{
  content: "";
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background-image: url(slider_bg2.jpg) !important;
  filter: brightness(70%);
  background-size: cover;
}

.about_img{
  max-width: 40%;
  margin: 10px auto 30px auto;
  }

body > main > div:nth-child(1) > section.mt-4 > div.row.d-flex.justify-content-around > div > h3{
	text-transform: none !important;
	text-align: center;
}

.about_desc__text{
	text-align: center;
}

.creation-subsection
{
    width: 100vw;
    margin-bottom: 50px;
}

.icon_banner{
    width: 15px;
    max-height: 30px;
    margin: 5px;
}

.icon_menu_mini_banner{
    width: 25px;
    max-height: 30px;
    margin: 5px;
}

.section_welcome > .container > .row [class*="col-"] .welcome_content .welcome_content_heading
{
    font-family: 'Oregano', cursive !important;
}

.down-container
{
    position: absolute;
    bottom: 5vh;
    width: 100%;
}

.down
{
    width: 60px;
    height: 60px;
    margin: auto;
    padding: 9px 10px 6px;
}

.down a,
.down a:focus,
.down a:hover,
.down a:active
{
    color: #F1AE2B;
}

#warning-small-devices
{
    display: none;
}

/* Tablet and smaller */
@media (max-width: 991.98px) {
    #warning-small-devices
    {
        display: block;
    }
}