main
{
    margin-top: 100px;
    min-height: 64vh;
    color: var(--primary);
}

main.homepage
{
    margin-top:0;
}

/* Tablet and smaller */
@media (max-width: 991.98px) {
    main
    {
        margin-top: 0px;
    }
}