@media print {
  body {
    background-color: black;
  }

  .container {
    width: auto;
    margin: 0;
    padding: 0;
    border: none;
  }
  
  #line_items {
    page-break-before: always;
  }
  
  #pdf_link {
    display: none;
  }

  body > main > section.section.section_header.section_header__about{
    display: none;
  }

  #section_menu > p{
    display: none;
  }

  body > footer{
    display: none;
  }
}