nav.navbar
{
    height: 100px;
    position: fixed;
    top: 0;
    left: 0;
    margin-bottom: 100px;
}

#navbar_collapse1.navbar-collapse.collapse
{
    display: flex !important;
    justify-content: flex-end;
}

.logo
{
	width: 120px;
    max-height: 120px;
    margin: 10px;
}