<% @title = "Paiement accepté" %>

<%= render "shared/header", title: @title %>

<div class="container d-flex justify-content-center mb-5">

	<div class="col-md-6 d-flex flex-column align-items-center">
      <div class="mt-5">
		<p>Merci pour votre paiement de <strong>360€</strong>!</p>
		<p>Félicitations, vous bénéficiez désormais de notre offre. Vous pouvez maintenant générer et télécharger les versions PDF de vos menus.</p>
		<br/>
		<p>Cordialement,</p>
		<p>Toutes l'équipe de Menu à jour.</p>
		<br/>
		<br/>
		<br/>
	  </div>
		<a class="btn btn-primary" href="<%= user_subscriptions_path(current_user.id) %>">Voir mon abonnement</a>
		<br/>
		<br/>
		<a class="btn btn-primary" href="<%= root_path %>">Retour à la page d'accueil</a>



	</div>

</div>