<div class="container">

	<div class="col-md-6">

		<h2>Thanks, you paid <strong>$5.00</strong>!</h2>
		<br/>
		<br/>
		<a class="btn btn-primary" href="<%= user_subscriptions_path(current_user.id) %>">Voir mon abonnement</a>
		<a class="btn btn-primary" href="<%= root_path %>">Retour à la page d'accueil</a>


	</div>

</div>