<% flash.each do |type, msg| %>
  <div class="alert <%= bootstrap_class_for_flash(type) %> alert-dismissable show" role="alert" style="position: absolute; z-index: 2; right: 4vw; top:130px">
    <%= msg %>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true" style="padding-right: 20px;">×</span>
  </button>
  </div>
<% end %>
