<footer>
    <ul class="socials">
        <% @socials.each do |social| %>
        <li><a href="<%= social[:link] %>"><i class="<%= social[:icon] %>"></i></a></li>
        <% end %>
    </ul>
    <ul></ul>
</footer>