<!DOCTYPE html>
<html>
<head>
<title>PDF</title>
  <%= wicked_pdf_stylesheet_link_tag "pdf" %>
  <%= wicked_pdf_stylesheet_link_tag "styles", media: 'all' %>
</head>
<body>
    <%= yield %>
</body>
</html>


<!-- Style only for the PDF document -->
<style>
#section_menu > div.d-flex.justify-content-around.flex-wrap.my-5{
	display: none;
}
.section.section_header.section_header__about{
	display: none;
}
#section_menu > div.container > div > div > h2:before{
	display: none;
}
</style>